

.resetColor { -fx-fill: #020202; }
.keyCharacter { -fx-fill: #f045ff; }
.keyWord { -fx-fill: #03bafc; -fx-font-weight: bold; }
.highlight {-rtfx-background-color: #fcde8b; }
.wrong-line {-rtfx-background-color: #f2b0a2; }
.shapes {-fx-fill: #fc5970; -fx-font-style: italic; }
.digit {-fx-fill: #474bfc; -fx-font-style: italic; }

