

.blue { -fx-fill: #03bafc;-fx-font-weight: bold; }

.highlight {-rtfx-background-color: #fcde8b; }

.list-cell {
    -fx-background-color: azure;
}



.debug {-fx-fill: #8346F2;-fx-font-weight: bold;}


